.contains {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title_section {
  margin-left: -14%;
  font-size: 30px;
}

h1 {
  padding-left: 15%;
  margin-bottom: 0px;
}

.art {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px #FF5A5F solid;
  border-radius: 4px;
}

.sub {
  text-align: center;
  font-size: 30px;
}
